.card__like-button {
    border: none;
    background-color: inherit;
    background-image: url(../../../img/like.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    align-self: center;
    cursor: pointer;
    outline-style: none;
    transition: opacity .2s ease-in;
}

.card__like-button:hover {
    opacity: 0.6;
}