.page__footer {
  margin: 0 auto;
  padding: 66px 0 60px;
  width: 882px;
}

@media screen and (max-width: 920px) {
  .page__footer {
    padding: 48px 0 36px;
    width: calc(100% - 2 * 19px);
  }
}

