.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-image: url("../../../img/plus.svg");
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  opacity: 1;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px){
  .profile__add-button {
    background-size: 16px 16px;
    width: 317px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 619px){
  .profile__add-button {
    width: 282px;
  }
}